/* SECTION BANNER-START */
.banner {
  padding: 40px 0px 0px 0px;
  background-image: url("../img/Object.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* navbar-start */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo img {
  width: 128px;
}

.navbar__content {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-right: 30px;
}

.navbar__actions {
  display: flex;
  align-items: stretch;
}
.burger {
  display: none;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-around;
  outline: none;
  border: none;
}

.burger__item {
  display: inline-block;
  width: 30px;
  height: 3px;
}

.menu__link {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.376923px;
  color: #ffffff;
  padding: 30px;
}

.navbar__button {
  padding: 14px 40px;
}
/* navbar-end */

/* media-start */
@media screen and (max-width: 992px) {
  .menu {
    display: none;
  }

  .burger {
    display: flex;
    margin-right: 30px;
  }

  .burger__item {
    background-color: #ffac12;
    width: 50px;
  }

  .button__title {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .button {
    border-radius: 0px 14px 0px 0px;
  }

  .button__title {
    font-size: 13px;
    margin-right: 0px;
  }

  .button img {
    width: 15px;
  }

  .navbar__logo img {
    width: 110px;
  }

  .navbar__button {
    padding: 10px 6px;
  }
  .burger__item {
    width: 35px;
  }
  .burger {
    margin-right: 15px;
  }
}

@media screen and (max-width: 320px) {
  .navbar__button {
    padding: 0px 9px;
  }

  .burger__item {
    width: 25px;
  }

  .burger {
    display: flex;
    margin-right: 15px;
  }

  .navbar__logo img {
    width: 90px;
  }
  .button__title {
    font-size: 11px;
    margin-right: 0px;
  }
  .button img {
    width: 14px;
  }
  .navbar__button {
    padding: 2px 11px;
  }
}
/* media-end */

.wrap {
  margin-top: 126px;
}

.wrap__title {
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -2.01026px;
  color: #ffffff;
  margin-bottom: 22px;
  max-width: 519px;
}

.wrap__description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.502564px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  max-width: 428px;
  margin-bottom: 176px;
}

.wrap__button {
  display: flex;
  padding: 37px 40px;
  align-items: center;
  width: 1069px;
  height: 100px;
  background: #ffffff;
}

.button__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.502564px;
  color: #000000;
  margin-right: 15px;
}

.wrap__button img {
  width: 24px;
}

/* media-start */
@media screen and (max-width: 768px) {
  .wrap__title {
    font-size: 60px;
    max-width: 430px;
    line-height: 65px;
  }

  .wrap__description {
    font-size: 15px;
    line-height: 24px;
    max-width: 320px;
    margin-bottom: 170px;
  }
}

@media screen and (max-width: 576px) {
  .wrap__title {
    font-size: 40px;
    max-width: 250px;
    line-height: 46px;
    margin-bottom: 6px;
  }

  .wrap__description {
    font-size: 12px;
    line-height: 18px;
    max-width: 254px;
    margin-bottom: 165px;
  }
}
/* media-start */
