/* banner-start */

.button {
  border-radius: 0px 18px 0px 0px;
  height: auto;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.427179px;
}

/* banner-end */

/* hands-start */
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -1.25641px;
  color: #000000;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.502564px;
  color: #000000;
}

/* hands-end */
/* media-start */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 414px) {
}
/* media-end */
