/* HANDS-START */
.hands {
  padding-top: 84px;
  background-color: #ffffff;
}
.hands__row {
  display: flex;
  margin-bottom: -70px;
  align-items: center;
}

.hands__img {
  filter: drop-shadow(0px 62px 54px rgba(0, 0, 0, 0.3));
  width: 60%;
  padding-right: 70px;
}
.hands__img img {
  width: 100%;
  height: 657px;
  object-fit: cover;
  object-position: center;
  border-radius: 0px 57px 0px 0px;
}

.hands__content {
  width: 40%;
  max-width: 500px;
}

.hands__title {
  margin-bottom: 20px;
}

.hands__description {
  margin-bottom: 58px;
}
.hands__button {
  background-color: #000000;
  color: #ffffff;
  padding: 25px 46px;
}

.hands__button img {
  width: 23px;
  margin-left: 22px;
}

/* @media-start */
@media screen and (max-width: 992px) {
  .hands__row {
    flex-direction: column;
    display: flex;
    align-items: stretch;
    margin-bottom: 0px;
    padding-bottom: 3rem;
  }

  .hands__img {
    width: 75%;
    margin-bottom: 70px;
  }

  .hands__content {
    width: 70%;
    max-width: 600px;
    margin-left: auto;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .hands__img {
    width: 85%;
  }
  .hands__img img {
    height: 600px;
  }

  .hands__button {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 35px;
  }
}

@media screen and (max-width: 576px) {
  .hands__img {
    width: 100%;
    margin-bottom: 40px;
    padding-right: 30px;
    filter: drop-shadow(0px 20px 51px rgba(0, 0, 0, 0.3));
  }

  .hands__img img {
    width: 100%;
    height: 450px;
  }

  .hands__content {
    width: 100%;
  }
  .hands__description {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 414px) {
  .hands__img img {
    width: 100%;
    height: 400px;
  }
  .hands__button {
    padding: 10px 24px;
  }
}
/* @media-end */
