.app {
  font-family: "Open Sans";
  margin: 162px 0px 101px 0px;
}
.nav__bar {
  background-color: #15cf74;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo__link {
  font-family: "Roboto";
  font-size: 48px;
  line-height: 135%;
  text-align: center;
  color: #ffffff;
}

.menu {
  display: flex;
}

.menu__link {
  padding: 73px 20px;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 135%;
  text-align: center;
  color: #ffffff;
}

.wrap {
  display: flex;
  flex-flow: wrap;
  background-color: yellow;
  margin-right: -30px;
}
.wrap__block {
  width: 25%;
  padding-right: 30px;
}

.wrap__image {
  height: 254.99px;
  object-fit: cover;
  object-position: center;
  padding-bottom: 21px;
}
.wrap__image img {
  width: 100%;
}

.wrap__date {
  font-family: "Circe";
  font-size: 14px;
  line-height: 135%;
  color: #2e373b;
  margin-bottom: 11px;
}

.wrap__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #f6404f;
  margin-bottom: 9px;
}
.wrap__description {
  font-family: "Circe";
  font-size: 16px;
  line-height: 135%;
  color: #2e373b;
  margin-bottom: 42px;
}
