.app {
  font-family: Playfair Display;
  background-color: #000000;
  padding: 162px 0px 101px 0px;
}
.wrap {
  display: flex;
  flex-flow: wrap;
  margin-right: -23px;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 121px;
}
.wrap__block {
  width: 25%;
  padding-right: 23px;
}
.wrap__image {
  background-color: #191b1c;
  padding: 23px 55px 22px 54px;
  margin-bottom: 25px;
}

.wrap__image img {
  width: 100%;
  height: 214px;
}

.wrap__name {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.wrap__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #d0d0d0;
  margin-bottom: 40px;
}
