.app {
  background-color: #f9f9f9;
  font-family: "Roboto";
}
/* SECTION HEADER-START */
.header {
  padding: 57px 0px 146px 0px;
  background-color: #eeeff1;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 140px;
}

.logo__img img {
  width: 96px;
  height: 60px;
}

.menu {
  display: flex;
}
.menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #34547a;
  padding: 21px;
}

.header__row {
  display: flex;
}

.header__img {
  width: 40%;
  margin-right: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__img img {
  width: 100%;
}

.header__content {
  width: 60%;
}

.header__title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
  margin-bottom: 60px;
}

.header__description {
  margin-bottom: 60px;
}

.button {
  width: 225px;
  height: 65px;
  background: #34547a;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  outline: none;
  border: none;
}
/* SECTION HEADER-END */

/* SECTION ABOUT-START */
.about {
  background-color: #e5e5e5;
  padding: 119px 0px 100px 0px;
}

.about__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__title {
  margin-bottom: 50px;
}

.about__description {
  text-align: center;
}
/* SECTION ABOUT-END */

/* SECTION PROJECT-START */
.projects {
  padding: 100px 0px 85px 0px;
  background-color: #34547a;
}

.progects__row {
  display: flex;
  margin-right: -49px;
}
.progect {
  width: 16.66%;
  display: flex;
  padding-right: 49px;
}

.project__img {
  margin-right: 30px;
}
.project__img img {
  width: 50px;
  height: 50px;
}

.progect__nambe {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 10px;
}

.progect__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.article__block {
  background-color: red;
  height: 200px;
  padding-right: 49px;
}
/* SECTION PROJECT-END */

/* SECTION VIDEO-START */
.video {
  background-color: #eeeff1;
  padding: 115px 0px 85px 0px;
}

.video__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video__title {
  margin-bottom: 50px;
}

.video__description {
  margin-bottom: 57px;
  text-align: center;
}

.video__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/Rectangle\ 5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1110px;
  height: 600px;
}
/* SECTION VIDEO-END */

.images__row {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}

.image {
  width: 25%;
}

.image img {
  height: 480px;
  object-fit: cover;
  object-position: center;
}

/* SECTION CLIENTS-START */
.clients {
  padding: 119px 0px;
  background-color: #e5e5e5;
}

.clients__row {
  display: flex;
  margin-right: -30px;
}

.client__img {
  width: 25%;
}

.client__img img {
  padding-right: 30px;
}
/* SECTION CLIENTS-END */

/* SECTION FOOTER-START */
.footer {
  padding: 50px 0px;
  background-color: #34547a;
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fooner__name {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}

.footer__img {
  margin-right: -20px;
}
.footer__img img {
  padding-right: 20px;
}
/* SECTION FOOTER-EDN */
