.header {
  position: relative;
}

.header__row {
  padding: 36px 0px 28px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.navbar__nav {
  display: flex;
}

/* logo-start */
.logo {
  display: flex;
}
.logo__img img {
  width: 80px;
  height: 80px;
}

.logo__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: rgb(251, 33, 32);
  max-width: 114px;
}

.logo__title-burger {
  color: rgb(255, 255, 255);
}
/* logo-end */

/* menu-start */
.menu {
  display: flex;
}

.menu__link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: rgb(251, 33, 34);
  cursor: pointer;
  padding: 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.menu__link--active {
  text-decoration-line: underline;
  color: #ffffff;
}
.menu__link:hover {
  text-decoration-line: underline;
  color: #ffffff;
}

/* menu-end */

.search {
  display: flex;
}
.search img {
  width: 30px;
  height: 30px;
  margin-right: 50px;
}

.search__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
}

.search__title:before {
  content: "";
  display: block;

  border: 5px solid white;

  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;

  transform: translateY(-50%);
  position: absolute;
  left: 100%;
  top: 50%;
}

.burger {
  display: none;
}

/* mob-menu start */
.mob-menu {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #121111 0%, rgba(57, 57, 57, 0.92) 68.75%);
  position: absolute;
  transform: translateX(-100%);
  top: 0px;
  left: 0px;
  transition: 0.7s;
  padding: 42px 52px 0px 52px;
  z-index: 1000;
}

.mob-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mob-menu--active {
  transform: translateX(0%);
}

.mob-logo {
  display: flex;
}

.mob-logo__img {
  margin-right: 20px;
}

.mob-logo__img img {
  width: 80px;
  height: 80px;
}

.mob-logo__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: rgb(251, 33, 32);
  max-width: 114px;
}

.mob-logo__title-burger {
  color: rgb(255, 255, 255);
}

.close img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.mob__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-decoration-line: underline;
  margin-bottom: 16px;
  color: #ffffff;
  margin-top: 38px;
  transition: 00.3s;
  cursor: pointer;
}

.mob__title:hover {
  color: rgb(251, 33, 32);
}

@media screen and (max-width: 414px) {
  .mob-logo__img img {
    width: 60px;
    height: 60px;
  }
  .mob-logo__img {
    margin-right: 10px;
  }

  .mob-logo__title {
    font-size: 24px;
    line-height: 30px;
    max-width: 92px;
  }

  .mob__title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 16px;
    text-decoration-line: underline;
    margin-bottom: 16px;
    color: #ffffff;
    margin-top: 38px;
  }
}
/* mob-menu start */

/* media-start */
@media screen and (max-width: 992px) {
  .menu {
    display: none;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  .burger__item {
    justify-content: space-between;
    background-color: rgb(251, 33, 32);
    height: 5px;
    width: 50px;
    display: flex;
    flex-direction: column;
  }

  .burger__item--2 {
    width: 45px;
    margin: 8px 0px;
  }
  .burger__item--3 {
    width: 35px;
  }
}

@media screen and (max-width: 414px) {
  .logo__img img {
    width: 40px;
    height: 40px;
  }

  .logo__title {
    font-size: 24px;
    line-height: 20px;
  }

  .search img {
    width: 20px;
    height: 30px;
    margin-right: 20px;
  }

  .search__title {
    font-size: 20px;
  }

  .burger__item {
    height: 3px;
  }
}
